body{
	background:	#22242b;
	color: white;
}

.logo-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width:100vw;
}

img{
	border: 10px solid #CCC;
	border-radius: 50%;
	width:18%;
}

h1{
	font-family: 'Roboto Slab';
}

.asxyzp{
	z-index:1;
}
.asxyzp_math{
	z-index:0;
	margin-left:-10%;
}

.link{
	color: #CCC;
}
.link:hover{
	color:#CCC;
}